.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header  img {
    margin-right: 16px;
    width: 50px;
  }


@media only screen and (max-width : 480px) {
  h1 {
    font-size: 20px;
  }

  h5 {
    font-size: 12px;
  }

  p {
    font-size: 10px
  }

  .header {
    img {
      margin-right: 8px;
      width: 30px;
    }
  }
}


// Libraries import
@import "font-awesome-sprockets";
@import "bootstrap-sprockets";
@import "font-awesome";
@import "bootstrap";

// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

